@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700;&family=Source+Serif+Pro:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=Gilda+Display&family=Source+Serif+Pro:ital,wght@0,400;1,400;1,700&display=swap');

body{
  margin: 0;
}

.profileContainer{
  box-sizing: border-box;
  display: flex;
  font-size: 12px;
  margin: 1em 0px;
  padding: 15px;
  border:5px solid rgba(0, 0, 0, 0);
  /*max-height: 23vw;*/
  overflow: hidden;
  transition: all 1s;
}

.headshot{
  width: 20.5vw;
  height: 20.5vw;
}

.byline{
  font-family: Assistant;
  font-weight: 600;
  font-size: 14px;
}

.right{
  flex-direction: row-reverse;
}

.illustrLeft{
  margin-right: 30px;
}

.illustrRight{
  margin-left: 30px;
}

.photoLeft{
  position: absolute;
  left: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.photoRight{
  position: absolute;
  right: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.subhead{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.6em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.dividingLine{
  border-top: 5px solid #393939;
  margin: 20px auto;
  width: 100%;
}

p{
  font-family: 'Source Serif Pro', serif;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 15px;
}

a{
  color: #b12d27;
  text-decoration: none;
}

iframe{
  margin-bottom: 20px;
}

.blockQuote{
  box-sizing: border-box;
  background-color: #f1f1f1;
  border: 5px solid #888888;
  height: 20.5vw;
  width: 20.5vw;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.blockQuoteLeft{
  margin-right: 30px;
}

.blockQuoteRight{
  margin-left: 30px;
}

.blockQuote > p:first-child::first-letter{
  color: #888888;
  font-size: 12vw;
  line-height: 140px;
  text-shadow: #aaa 2px 3px 3px;
  float: left;
}

.blockQuote > p{
  font-size: 1.5vw;
  line-height: 1.75vw;
}

.blockQuoteCredit{
  text-align: right;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
}

.expandButton{
  margin-top: -15px;
  color: #b12d27;
}

.pointer{
  cursor: pointer;
}

.profileBlurb > p:first-child::first-letter {
    float: left;
    color: #000000;
    font-size: 92px;
    line-height: 75px;
    padding-top: 9px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Gilda Display';
}

.collapsed{
  display: inline;
  transition: opacity 0.5s;
}

.expanded{
  display: none;
}

.expandedGraf{
  display: none;
}

.spacer{
  width: 100%;
  height: 50px;
}

.illustrCredit{
  font-size: 14px;
  line-height: 20px;
  margin: 5px 10px 10px;
}

.photoCredit{
  font-size: 14px;
  line-height: 20px;
  margin: 5px 10px 10px;
  display: none;
}


@media only screen and (max-width: 768px) {
  .profileContainer{
    flex-direction: column;
  }

  .profileContainer .left{
    flex-direction: column-reverse;
  }

  iframe{
    width: 85vw;
    height: auto;
  }

  .headshot{
    width: 50vw;
    height: 50vw;
  }

  .illustrLeft{
    margin-right: 30px;
    margin-left: 0px;
  }

  .illustrRight{
    margin-right: 30px;
    margin-left: 0px;
  }

  .photoLeft{
    position: absolute;
    left: 20px;
    opacity: 0;
    transition: opacity 1s;
  }

  .photoRight{
    position: absolute;
    left: 20px;
    opacity: 0;
    transition: opacity 1s;
  }

}
